.aboutUs {
  margin-top: -30px;
  background-color: #f5f5f5;
}
/* aboutUs-header */
.aboutUs-header {
  background: linear-gradient(225deg, #d22c4e, #ee384e 41.68%, #ef5662);
}
.aboutUs-header-title {
  margin-top: 50px;
}
@media screen and (max-width: 750px) {
  .aboutUs-header-title {
    margin-top: 10px;
  }
}
.aboutUs-header-title p {
  color: #fff !important;
}
.aboutUs-header-title p:nth-child(1) {
  font-size: 45px;
  font-weight: 900;
}
.aboutUs-header-title p:nth-child(2) {
  font-size: 25px;
  font-weight: 600;
}
.aboutUs-header-title p:nth-child(3) {
  font-size: 15px;
}

/* aboutUs-business */
.aboutUs-business {
  text-align: center;
}
.aboutUs-business-top-title {
  color: #000 !important;
  font-weight: 800;
  font-size: 25px;
}
.aboutUs-business-bottom-title {
  color: #000 !important;
  font-size: 15px;
}
.aboutUs-business-topics {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutUs-business-topics i {
  font-size: 28px;
}
.aboutUs-business-topics div:nth-child(2) {
  border-right: 1px solid #e0e0e2;
  border-left: 1px solid #e0e0e2;
  margin: 0 20px;
  padding: 0 25px;
}
.aboutUs-business-topics-single p:nth-child(2) {
  color: #19bfd3 !important;
  font-weight: bolder;
  font-size: 27px;
  margin-bottom: 0px;
}
.aboutUs-business-topics-single p:nth-child(3) {
  color: #000 !important;
  font-weight: 700;
  font-size: 20px;
}
.aboutUs-business-topics-single a {
  color: #e6123d !important;
  font-size: 15px;
}
.aboutUs-business-topics-single span {
  color: #e6123d !important;
  font-size: 13px;
  vertical-align: -2px;
}

/* aboutUs-goals */
.aboutUs-goals p {
  color: #fff !important;
}
.aboutUs-goals div {
  margin: 0 5px;
}
.aboutUs-goals-top-right {
  width: 40%;
  height: 240px;
  background-image: url(./AboutUs-Images/aboutus-2.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #3f494a;
  border-radius: 0 25px 0 0;
}
.aboutUs-goals-top-right div {
  width: 80%;
  margin-top: 80px;
  padding-right: 10px;
}
.aboutUs-goals-top-right div p:first-child {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 5px;
}
.aboutUs-goals-top-right div p:last-child {
  font-size: 13px;
}
.aboutUs-goals-top-left {
  width: 55%;
  height: 240px;
  background-image: url(./AboutUs-Images/aboutus-3.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-color: #ef4056;
  margin-right: -30px;
  border-radius: 25px 0 0 0;
}
.aboutUs-goals-top-left div {
  float: left;
  width: 50%;
  margin-top: 50px;
  padding-left: 10px;
}
.aboutUs-goals-top-left div p:first-child {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 5px;
}
.aboutUs-goals-top-left div p:last-child {
  font-size: 13px;
}
@media screen and (max-width: 975px) {
  .aboutUs-goals-top-right {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px !important;
  }
  .aboutUs-goals-top-left {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px !important;
  }
  .aboutUs-goals-top-left div p:last-child {
    font-size: 12px;
  }
}
.aboutUs-goals-bottom {
  width: 96%;
  margin-top: 10px !important;
  padding-right: 10px;
  background: url(./AboutUs-Images/aboutus-4.png),
    linear-gradient(90deg, #19bed2 30.48%, #03788c 97.08%);
  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 0 0 25px 25px;
}
.aboutUs-goals-bottom-title {
  padding-right: 10px;
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 700;
}
.aboutUs-goals-bottom-subjects {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 15px;
}
.aboutUs-goals-bottom-subjects div {
  border-left: 1px solid hsla(0, 0%, 100%, 0.2);
  padding: 0 10px;
}
.aboutUs-goals-bottom-subjects div:last-child {
  border-left: none;
}
.aboutUs-goals-bottom-subjects p:first-child {
  font-weight: 700;
  margin-bottom: 0;
}
.aboutUs-goals-bottom-subjects p:last-child {
  font-size: 11px;
}
@media screen and (max-width: 975px) {
  .aboutUs-goals-bottom {
    border-radius: 5px;
    background: linear-gradient(90deg, #19bed2 30.48%, #03788c 97.08%);
  }
  .aboutUs-goals-bottom-title {
    margin-top: 20px;
  }
  .aboutUs-goals-bottom-subjects div {
    padding: 5px;
  }
}

/* aboutUs-wlcbazzar */
.aboutUs-wlcbazzar-text {
  margin-top: 40px;
  padding-right: 50px;
}
.aboutUs-wlcbazzar-text p:first-child {
  color: #000 !important;
  font-size: 30px;
  font-weight: 900;
}
.aboutUs-wlcbazzar-text p:nth-child(2) {
  font-size: 17px;
}
.aboutUs-wlcbazzar-text button {
  background-color: transparent;
  border: 1px solid #d22c4e !important;
  color: #d22c4e !important;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 10px;
}
.aboutUs-wlcbazzar-text button:hover {
  background-color: #d22c4d;
  color: #fff !important;
  transition: 0.2s linear;
}

/* aboutUs-store */
.aboutUs-store {
  background: url(./AboutUs-Images/aboutus-6.png),
    linear-gradient(113.36deg, #0fabc6 1.59%, #004753 65.08%);
  min-height: 532px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
}
.aboutUs-store p {
  color: #fff !important;
  width: 50%;
}
.aboutUs-store p:first-child {
  color: #fff !important;
  font-size: 25px;
  font-weight: 800;
}
.aboutUs-store p:last-child {
  font-size: 15px;
  line-height: 26px;
}

/* aboutUs-brands */
.aboutUs-brands {
  background: linear-gradient(336.57deg, #000 14.31%, #284059 84.08%);
}
.aboutUs-brands-container-top {
  text-align: center;
}
.aboutUs-brands-container-top div {
  padding: 50px 0 30px 0;
}
.aboutUs-brands-container-top p {
  color: #fff !important;
}
.aboutUs-brands-container-top p:nth-child(2) {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}
.aboutUs-brands-container-top p:nth-child(3) {
  font-size: 15px;
  width: 60%;
  margin: 0 auto;
}
.aboutUs-brands-container-bottom {
  margin: 80px 0;
  text-align: center;
}
.aboutUs-brands-container-bottom div div {
  cursor: pointer;
}
.aboutUs-brands-container-bottom div div:hover {
  font-weight: 800;
  font-size: 16px;
}
.aboutUs-brands-container-bottom div p{
  color: #fff !important;
  font-size: 14px;
  margin: 5px 0;
}
.aboutUs-brands-container-bottom-kemda{
  margin-right: 80px!important;
}
@media screen and (max-width:755px) {
  .aboutUs-brands-container-bottom-kemda{
    margin-right: 0px!important;
  }
}

/* hr Tag */
.aboutUs-hr {
  background-color: rgba(255, 255, 255, 0.2);
}
