.aboutUs {
  margin-top: -30px;
  background-color: #f5f5f5;
}
/* aboutUs-header */
.aboutUs-header {
  background: linear-gradient(225deg, #d22c4e, #ee384e 41.68%, #ef5662);
}
.aboutUs-header-title {
  margin-top: 50px;
}
@media screen and (max-width: 750px) {
  .aboutUs-header-title {
    margin-top: 10px;
  }
}
.aboutUs-header-title p {
  color: #fff !important;
}
.aboutUs-header-title p:nth-child(1) {
  font-size: 45px;
  font-weight: 900;
}
.aboutUs-header-title p:nth-child(2) {
  font-size: 25px;
  font-weight: 600;
}
.aboutUs-header-title p:nth-child(3) {
  font-size: 15px;
}

/* aboutUs-business */
.aboutUs-business{
  text-align: center;
}
.aboutUs-business-top-title{
  color: #000!important;
  font-weight: 800;
  font-size: 25px;
}
.aboutUs-business-bottom-title{
  color: #000!important;
  font-size: 15px;
}
.aboutUs-business-topics{
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutUs-business-topics i{
  font-size: 28px;
}
.aboutUs-business-topics div:nth-child(2){
  border-right: 1px solid #e0e0e2;
  border-left: 1px solid #e0e0e2;
  margin: 0 20px;
  padding: 0 25px;
}
.aboutUs-business-topics-single p:nth-child(2){
  color: #19bfd3!important;
  font-weight: bolder;
  font-size: 27px;
  margin-bottom: 0px;
}
.aboutUs-business-topics-single p:nth-child(3){
  color: #000!important;
  font-weight: 700;
  font-size: 20px;
}
.aboutUs-business-topics-single a{
  color: #e6123d!important;
  font-size: 15px;
}
.aboutUs-business-topics-single span{
  color: #e6123d!important;
  font-size: 13px;
  vertical-align: -2px;
}