.shop-list-card {
  width: 100%;
  min-height: 200px;
  margin-right: 0px;
}
.shop-list-img {
  display: block;
  width: 180px;
  margin: 30px auto;
}
.shop-list-card-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 23px;
}
.shop-list-card-body {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.shop-list-card p {
  margin: 5px 0;
}
.shop-list-qty {
  display: flex;
  width: 120px;
  height: 40px;
  border: 1px solid #ef394e;
  border-radius: 10px;
  justify-content: space-between;
  font-size: 19px;
  margin: 0 25px 20px 0;
}
.shop-list-qty button {
  border: none;
  outline: none;
  background-color: #fff;
  font-weight: 700;
  margin: 0 10px;
  font-size: 26px;
}
.shop-list-qty-number {
  padding-top: 2px;
}
.shop-list-qty-add {
  color: #00a049 !important;
}
.shop-list-qty-remove {
  color: #ef394e !important;
}
.shop-list-price {
  text-align: left;
  margin: -50px 0 20px 30px;
  font-weight: 700;
  font-size: 19px;
}
@media screen and (max-width: 300px) {
  .shop-list-price {
    margin: -50px 0 20px 2px;
    font-size: 14px;
  }
}
@media screen and (min-width: 301px) and (max-width: 350px) {
  .shop-list-price {
    margin: -50px 0 20px 15px;
    font-weight: 700;
    font-size: 16px;
  }
}
