:root {
    --border10: 10px;
    --text-color: #616161;
  }
  * {
    color: var(--text-color);
    text-decoration: none!important;
    list-style-type: none;
  }
  body {
    background-color: #f5f5f5;
    font-family: Sahel;
  }
  button{
    outline: none!important;
  }
  @font-face {
    font-family: "Sahel";
    src: url(../fonts/Sahel.woff2) format("woff2"),
      url(../fonts/Sahel.woff) format("woff");
    font-style: "normal";
    font-weight: "normal";
  }