:root {
  --border10: 10px;
  --text-color: #616161;
}
* {
  color: var(--text-color) !important;
  text-decoration: none !important;
  list-style-type: none;
}
body {
  background-color: #fff !important;
  font-family: Sahel;
  max-width: 100%;
  overflow-x: hidden;
}
button {
  outline: none !important;
  border: none !important;
}
button:focus {
  outline: none;
  box-shadow: unset !important;
}
input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #ef394e !important;
}

.body-custom-back-color {
  background-color: #f5f5f5 !important;
}
.footer-in-goods-page {
  border-top: 1px solid #dfdfdf;
}

@font-face {
  font-family: "Sahel";
  src: url(../fonts/Sahel.woff2) format("woff2"),
    url(../fonts/Sahel.woff) format("woff");
  font-style: "normal";
  font-weight: "normal";
}

/* Slider Custom Style */
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 5px;
  background-color: #fff;
  border-radius: 0 8px 8px 0;
  box-shadow: 1.5px 0 4px 0 rgb(0 0 0 / 15%);
  height: 70px;
}
.swiper-container-rtl .swiper-button-prev {
  right: 1px;
  border-radius: 8px 0 0 8px;
}
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  font-size: 27px;
}
@media screen and (max-width: 510px) {
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: 48px;
  }
  .swiper-container-rtl .swiper-button-prev {
    right: 46px;
  }
}
/* change style of gallery button of materialUI */
.MuiButton-root:hover {
  background-color: unset !important;
}

/* change style of React-Toastify */
.Toastify__toast-theme--colored div,
.Toastify__close-button svg,
.Toastify__toast-icon svg {
  color: #fff !important;
  fill: #fff !important;
  font-size: 16px;
}
.Toastify__close-button svg {
  vertical-align: 10px;
  margin-left: 7px;
}
@media screen and (max-width: 760px) {
  .Toastify__toast-theme--colored {
    width: 70%;
    margin-top: 75px;
    margin-bottom: -60px !important;
  }
}
@media screen and (min-width: 761px) and (max-width: 991px) {
  .Toastify__toast-theme--colored {
    width: 100%;
    margin-top: 65px;
    margin-bottom: -50px !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .Toastify__toast-theme--colored {
    width: 100%;
    margin-top: 135px;
    margin-bottom: -120px !important;
  }
}

/* Responsive For Mobile Devices */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
}
