.MainFavoriteList {
  background-color: #fff;
  width: 120%;
}
/* Tabs */
.favoritelist-nav-tabs li a {
  border: none !important;
  font-size: 15px;
}
.activeTab {
  border-bottom: 3px solid #ef394e !important;
}
.activeTab a {
  color: #ef394e !important;
}
/* Tab Content */
.MainFavoriteList .tab-content div {
  padding: 10px;
}
/* --------------------------- favoritelist --------------------------- */
.favoritelist-detail {
  display: flex;
  position: relative;
  margin-bottom: -18px;
}
.favoritelist-detail::after {
  content: "";
  position: absolute;
  bottom: 14%;
  width: 95%;
  height: 1px;
  background-color: #dfdfdf;
}
.favoritelist-detail img {
  width: 30%;
  height: 80%;
}
.favoritelist-detail div {
  margin-top: -10px;
  font-size: 14px;
}
.favoritelist-detail-name {
  display: flex;
}
.favoritelist-detail-name button {
  background-color: transparent;
  height: 30px;
  margin-left: -20px;
  font-size: 16px;
}
.favoritelist-detail-name button:active i {
  color: #fb3449 !important;
}
.favoritelist-detail-price {
  margin-top: -20px !important;
  margin-bottom: -37px;
  font-weight: 700;
}
.favoritelist-detail-link {
  font-size: 13px;
  margin-right: 20px;
  color: #12b4cd !important;
}
.favoritelist-detail-link i {
  font-size: 9px;
  margin-right: 4px;
  color: #12b4cd !important;
  transform: rotate(90deg);
  vertical-align: -1px;
}

/* --------------------------- generallist --------------------------- */
.generallist-detail-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #dee2e6;
  font-size: 13px;
}
.generallist-detail-top button {
  background-color: #ef394e;
  color: #fff !important;
  padding: 7px 20px;
  border-radius: 10px;
}
.generallist-detail-top button span {
  color: #fff !important;
  padding-left: 5px;
}
.generallist-detail-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.generallist-detail-middle img {
  width: 160px;
}
.generallist-detail-middle p {
  color: #000 !important;
  font-size: 16px;
  padding-top: 5px;
}
.generallist-detail-middle h5 {
  color: #81858b !important;
  font-size: 13px;
  padding-top: 25px;
  margin-bottom: 0px;
}
.generallist-detail-bottom {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.generallist-detail-bottom-content {
  background-color: rgba(70, 150, 227, 0.05);
  padding: 20px 40px !important;
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  font-size: 12px;
  text-align: center;
}
.generallist-detail-bottom-content p {
  color: #000 !important;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 10px;
}
.generallist-detail-bottom-content span {
  color: #81858b !important;
}

/* --------------------------- Empty list --------------------------- */
.empty-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 470px;
}
.empty-list p {
  color: #000 !important;
  font-size: 17px;
  padding-top: 5px;
}
@media screen and (max-width: 950px) {
  .MainFavoriteList {
    width: 100%;
  }
  .generallist-detail-bottom-content {
    background-color: rgba(70, 150, 227, 0.05);
    padding: 10px !important;
    width: 45%;
    margin: 10px 0;
  }
}
