.MainFavoriteList {
  background-color: #fff;
  width: 120%;
}
/* Tabs */
.favoritelist-nav-tabs li a {
  border: none !important;
  font-size: 15px;
}
.activeTab {
  border-bottom: 3px solid #ef394e !important;
}
.activeTab a {
  color: #ef394e !important;
}
/* Tab Content */
.MainFavoriteList .tab-content div {
  padding: 10px;
}
/* --------------------------- favoritelist --------------------------- */
.favoritelist-detail {
  display: flex;
  position: relative;
}
.favoritelist-detail::after {
  content: "";
  position: absolute;
  bottom: 8%;
  width: 95%;
  height: 1px;
  background-color: #dfdfdf;
}
.favoritelist-detail-img {
  width: 25%;
}
.favoritelist-detail-content {
  width: 75%;
}
.favoritelist-detail div {
  margin-top: -10px;
  font-size: 14px;
}
.favoritelist-detail-name {
  display: flex;
  justify-content: space-between;
}
.favoritelist-detail-name button {
  background-color: transparent;
  height: 30px;
  margin-left: -20px;
  font-size: 16px;
}
.favoritelist-detail-name button:active i {
  color: #fb3449 !important;
}
.favoritelist-detail-price {
  margin-top: -30px !important;
  margin-right: 10px;
  margin-bottom: -27px;
  font-weight: 700;
}
.favoritelist-detail-link {
  font-size: 13px;
  margin-right: 20px;
  color: #12b4cd !important;
}
.favoritelist-detail-link i {
  font-size: 9px;
  margin-right: 4px;
  color: #12b4cd !important;
  transform: rotate(90deg);
  vertical-align: -1px;
}

/* --------------------------- generallist --------------------------- */
.generallist-detail {
  min-height: 400px;
}
.generallist-detail-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #dee2e6;
  font-size: 13px;
}
.generallist-detail-top button {
  background-color: #ef394e;
  color: #fff !important;
  padding: 7px 20px;
  border-radius: 10px;
}
.generallist-detail-top button span {
  color: #fff !important;
  padding-left: 5px;
}
.generallist-detail-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.generallist-detail-middle img {
  width: 160px;
}
.generallist-detail-middle p {
  color: #000 !important;
  font-size: 16px;
  padding-top: 5px;
}
.generallist-detail-middle h5 {
  color: #81858b !important;
  font-size: 13px;
  padding-top: 25px;
  margin-bottom: 0px;
}
.generallist-detail-bottom {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.generallist-detail-bottom-content {
  background-color: rgba(70, 150, 227, 0.05);
  padding: 20px 40px !important;
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  font-size: 12px;
  text-align: center;
}
.generallist-detail-bottom-content p {
  color: #000 !important;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 10px;
}
.generallist-detail-bottom-content span {
  color: #81858b !important;
}
/* MODAL */
.modal-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 15px 20px 0px 20px;
  font-size: 16px;
  color: #000 !important;
  border-bottom: 1px solid #dee2e6;
}
.modal-top p {
  color: #424750 !important;
}
.modal-top button {
  color: #000 !important;
  background-color: transparent;
  font-size: 20px;
  height: 10px;
}
.modal-middle {
  margin: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 15px;
}
.modal-middle span {
  color: #ef394e !important;
  font-size: 12px;
}
.modal-middle label {
  color: #424750 !important;
}
.modal-middle label:nth-child(3) {
  margin-top: 20px;
}
.modal-middle input {
  width: 95%;
  border: 1px solid #ced4da;
  border-radius: 8px;
  padding: 12px 8px;
}
.modal-middle input:enabled {
  padding-right: 10px;
}
.modal-input {
  border-radius: 8px !important;
}
.modal-input:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #ef394e !important;
}
.modal-bottom {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0 20px 20px;
}
.modal-bottom button {
  padding: 7px 15px;
  border-radius: 8px;
  font-size: 14px;
  background-color: transparent;
}
.modal-bottom button:nth-child(1) {
  margin-left: 10px;
  border: 1px solid #81858b !important;
  color: #81858b !important;
}
.modal-bottom button:nth-child(2) {
  background-color: #ef394e;
  color: #fff !important;
}
.generallist-detail-lists {
  width: 100%;
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid #dfdfdf;
}
.generallist-detail-lists-content {
  width: 80%;
}
.generallist-detail-lists-content h5 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}
.generallist-detail-lists-content p {
  font-size: 13px;
}
.generallist-detail-lists-btns {
  display: flex;
  flex-direction: column;
  width: 20%;
  font-size: 13px;
}
.generallist-detail-lists-btns button {
  padding: 8px;
  border-radius: 10px;
}
.generallist-detail-lists-btns button:nth-child(1) {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #ef394e;
  color: #fff !important;
}
.generallist-detail-lists-btns button:nth-child(1) i {
  color: #fff !important;
  padding-left: 7px;
  vertical-align: -1px;
}
.generallist-detail-lists-btns button:nth-child(2) {
  margin-bottom: 20px;
  border: 1px solid #ef394e !important;
  background-color: transparent;
  color: #ef394e !important;
}
.generallist-detail-lists-btns button:nth-child(2) i {
  color: #ef394e !important;
  padding-left: 7px;
  vertical-align: -1px;
}

/* ------------------------------- noitce list ------------------------------ */
.noticeslist-detail {
  display: flex;
  position: relative;
}
.noticeslist-detail::after {
  content: "";
  position: absolute;
  bottom: 8%;
  width: 95%;
  height: 1px;
  background-color: #dfdfdf;
}
.noticeslist-detail-img {
  width: 25%;
}
.noticeslist-detail-content {
  width: 75%;
}
.noticeslist-detail div {
  margin-top: -3px;
  font-size: 14px;
}
.noticeslist-detail-name {
  display: flex;
  justify-content: space-between;
}
.noticeslist-detail-name button {
  background-color: transparent;
  height: 30px;
  margin-left: -20px;
  font-size: 16px;
}
.noticeslist-detail-name button:active i {
  color: #fb3449 !important;
}
.noticeslist-detail-alarm {
  margin-top: -15px !important;
  margin-right: 10px;
  margin-bottom: -10px;
}
.noticeslist-detail-alarm i {
  padding-left: 5px;
}

/* --------------------------- Empty list --------------------------- */
.empty-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 470px;
}
.empty-list p {
  color: #000 !important;
  font-size: 17px;
  padding-top: 5px;
}
@media screen and (max-width: 950px) {
  .MainFavoriteList {
    width: 100%;
  }
  .generallist-detail-bottom-content {
    background-color: rgba(70, 150, 227, 0.05);
    padding: 10px !important;
    width: 45%;
    margin: 10px 0;
  }
}
