.navbar {
  background-color: #fff !important;
  font-size: 15px;
  font-weight: 600;
  box-shadow: 0 7px 8px 0 rgb(0 0 0 / 4%);
}
.caustom-navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10px;
}
/* Navbar-Top */
.navbar-top {
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.navbar-logo {
  margin-top: 0px;
  padding-left: 20px;
}
.navbar-logo img {
  padding-top: 8px;
  width: 130px;
}
.navbar-brand img {
  width: 120px;
}
.user-login-btn {
  padding: 10px;
  background-color: transparent;
  border: 1px solid #e0e0e2 !important;
  border-radius: 10px;
  font-size: 13px;
}
.user-login-btn:hover {
  font-weight: 800;
  background-color: #fbfbfb;
}
.user-login-btn i {
  vertical-align: -5px;
  font-size: 19px !important;
}
.navbar-left i {
  font-size: 26px;
  margin-left: 15px;
}
.line-user-shop {
  font-size: 27px;
  line-height: 36px;
  padding-left: 15px;
  padding-right: 10px;
  color: #c3c3c3 !important;
}
.fa-shopping-cart {
  position: relative;
  padding-top: 5px;
}
.fa-shopping-cart:hover {
  color: #949494 !important;
}
.qty-shop {
  background-color: #f3696c;
  color: white !important;
  position: absolute;
  top: -4px;
  left: 20px;
  border-radius: 40%;
  font-size: 15px;
  padding: 2px 4px;
  line-height: 14px;
}
@media screen and (max-width: 992px) {
  .navbar-top {
    display: flex;
    flex-direction: column;
  }
  .navbar-left {
    width: 100%;
    align-items: center;
    margin: 20px 0 5px 0;
  }
  .user-login-btn {
    width: 300px;
  }
}
.user-profile-btn {
  position: relative;
  background-color: transparent;
  margin-left: -20px;
  margin-top: -2px;
}

/* Navbar-Sub-Menu */
.user-profile-btn .open-sub-menu-hover:hover i {
  color: #949494 !important;
  border-radius: 20px;
}
.user-profile-btn .fa-user {
  font-size: 23px;
  padding-left: 7px;
}
.fa-angle-profile-bottom {
  transform: rotate(90deg);
  font-size: 17px !important;
  margin-right: -10px;
}
.user-profile-sub-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 47px;
  right: -130px;
  width: 200px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 30%);
  border-radius: 10px;
}
.user-profile-sub-menu-top-info1 {
  display: flex;
  font-size: 11px;
  margin-bottom: 20px;
  height: 125px !important;
}
.user-profile-sub-menu-top-info1:hover {
  background-color: #f0f0f1;
  border-radius: 10px 10px 0 0;
}
.user-profile-sub-menu-img img {
  width: 40px;
  height: 40px;
  margin: 10px;
  position: relative;
  border: 1px solid #c0c2c5;
  border-radius: 50%;
}
.user-profile-sub-menu-img::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 54px;
  top: 20%;
  right: 14%;
  background-color: #c0c2c5;
}
.user-profile-sub-menu-top-info1 div p {
  font-size: 14px;
  font-weight: 700;
  margin-top: 13px;
  margin-right: -32px;
  margin-bottom: 0px;
}
.user-profile-sub-menu-top-info1 div a {
  color: #19bfd3 !important;
}
.fa-angle-left {
  color: #19bfd3 !important;
  font-size: 11px !important;
  padding-right: 2px;
  vertical-align: -2px;
}
.user-profile-sub-menu-top-active-money {
  margin-top: 15px;
  margin-right: -43px;
  position: relative;
}
.user-profile-sub-menu-top-active-money::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #c0c2c5;
  right: 8px;
  top: 35%;
}
.user-profile-sub-menu-top-digiclub {
  margin-top: 15px;
  margin-right: -32px;
  position: relative;
}
.user-profile-sub-menu-top-digiclub::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #c0c2c5;
  right: -3px;
  top: 35%;
}
.user-profile-sub-menu-top-digiclub::after {
  content: "";
  position: absolute;
  width: 172px;
  height: 1px;
  background: #f0f0f1;
  right: -14px;
  bottom: -13px;
}
.user-profile-sub-menu-top-digiclub span {
  float: left;
}
.user-profile-sub-menu-bottom {
  font-size: 13px;
}
.user-profile-sub-menu-bottom-my-order {
  display: flex;
  margin-top: -22px;
  position: relative;
  padding: 12px 20px;
}

.user-profile-sub-menu-bottom-my-order::after {
  content: "";
  position: absolute;
  width: 172px;
  height: 1px;
  background: #f0f0f1;
  right: 13px;
  bottom: 0px;
}
.user-profile-sub-menu-bottom-prize {
  display: flex;
  margin-top: -1px;
  position: relative;
  padding: 12px 20px;
}
.user-profile-sub-menu-bottom-prize::after {
  content: "";
  position: absolute;
  width: 172px;
  height: 1px;
  background: #f0f0f1;
  right: 13px;
  bottom: 0;
}
.user-profile-sub-menu-bottom-logout {
  display: flex;
  margin-top: -1px;
  padding: 12px 20px;
}
.user-profile-sub-menu-bottom-logout i,
.user-profile-sub-menu-bottom-my-order i,
.user-profile-sub-menu-bottom-prize i {
  font-size: 18px;
  vertical-align: -3px;
}
.user-profile-sub-menu-bottom div:hover {
  background-color: #f0f0f1;
}
.user-profile-sub-menu-bottom .user-profile-sub-menu-bottom-logout:hover {
  border-radius: 0 0 10px 10px;
}

/* Navbar-Bottom */
.navbar-bottom {
  width: 90%;
  margin-top: 20px;
}
.navbar-bottom .nav-item:nth-child(1) a {
  padding-right: 20px;
  width: 120px;
}
.navbar-bottom a:hover {
  color: #f3696c !important;
}
.navbar-toggler {
  border: unset !important;
}
.navbar-toggler:focus {
  outline: none;
}
.dropdown-menu {
  border: none;
  font-size: 13px;
}
.dropdown-menu .dropdown-item:active {
  background-color: unset;
}

/* user login inputs */
.customized-dialog-title-user-login p {
  text-align: center;
  width: 410px;
  font-weight: 700 !important;
  font-size: 23px !important;
  margin-bottom: -5px;
}
#exampleCheck1 {
  margin: 9px 5px;
}
.form-check-label {
  margin-right: 1px;
}
.form-group label {
  font-size: 17px;
  padding-right: 7px;
}
.btn-login {
  background-color: #ef394e;
  color: #fff !important;
}
